* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/landingPage/images/backgroundLp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}
.container{
    background-color: $background-color;
    color: #FFF;
    /* Centering DIV content: */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centering DIV */
    width: 450px; /* Other value can be used/ margin 0 auto*/
    height: auto;
}
footer {
    margin-top: 30px;
    margin-bottom: -30px;
  }
@media(max-width: 470px){
    .container{
        max-width: 80vw;
    }
}