body{
    margin: auto;
    width: 60%
}
 header, footer{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header ul li, footer ul li{
    list-style: none;
}

section form ul li{
    list-style: none;
}
section form ul li label button{
    font-size: 18px;
}
a:link{
    color: whitesmoke;
}
section{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
section button{
    margin: 5px;
    font-size: 18px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: medium;
}

/* Pega todos os segundos itens de uma lista e poe na cor roxa:
li:nth-of-type(2){
    color: purple;
}
*/
.image-content{
    width: 95%;
    height: 400px;
}
.text-content{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 765px){
    .image-content {width: 500px;}
    .text-content {font-size: 16px;}
    section form ul li label{
        font-size: 16px;
    }
    .btns{
        font-size: 16px;
    }
}

@media(max-width: 510px){
    .image-content{width: 100%; height: auto;}
    .text-content{font-size: 14px;}
    section form ul li label{
        font-size: 14px;
    }
    .btns{
        font-size: 14px;
    }
}
@media(max-width:410px){
    .text-content{ text-align: center; font-size: 12px;}
    section form ul li label{
        font-size: 12px;
    }
    .btns{
        font-size: 12px;
    }
}